* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;

  background: black;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(0, 0, 0, 0.767);
  padding: 0.8rem;
}

.hero-section {
  background-image: url("../assets/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-text {
  color: #fff;
  margin: auto;
}

.img-container {
  width: 100%;
}

.img-main {
  width: 90%;
}

.text-hero {
  padding: 1rem;
  line-height: 1.5;
}

.logo-text-1 {
  color: white;
  font-family: "Passion One", cursive;
  font-size: 20px;
}
.logo-text-1 span {
  font-family: "Courgette", cursive;
  font-size: 20px;
  color: #5500c0;
}
a {
  color: #5500c0;
  text-decoration: none;
}
.heading-hero {
  color: #4953cf;
  font-size: 24px;
  text-align: center;

  /* animation: typeAnim 4s steps(45) 1s,
    blinkCursor 500ms steps(45) infinite normal; */
}
@keyframes typeAnim {
  from {
    width: 0;
  }
  to {
    width: 650px;
  }
}
@keyframes blinkCursor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: transparent;
  }
}

nav {
  background: #0c141f;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;

  border-bottom: #5500c0 2px solid;
}

nav .logo {
  width: 5rem;
}

.logo-container {
  display: flex;
  margin: auto 2em;
}

.logo-branding {
  margin: auto;
}

.burger {
  margin: auto 2rem;
  display: none;
  z-index: 100;
  position: fixed;
  right: 0;
  top: 30px;
}

.line {
  width: 1.3rem;
  height: 0.2rem;
  background-color: #fff;
  margin: 0.2rem;
}

.line-active {
  background: #3e018a;
}

.active .line1 {
  transform: rotate(30deg);
}

.active .line2 {
  opacity: 0;
}

.active .line3 {
  transform: rotate(-30deg) translate(7px, -11px);
}

nav ul {
  display: flex;
  margin: 1em;
  font-family: "Passion One", cursive;
  font-size: 20px;
}
nav ul li {
  list-style: none;
  margin: 0.4rem 0.4rem;
  padding-left: 50px;
}
nav ul li .nav-links {
  text-decoration: none;
  color: #5500c0;
  transition: 250ms ease-in-out;
  text-align: right;
}
nav ul li .nav-links:hover {
  color: #5500c0;
}
nav ul li .nav-active {
  color: white;
}

.bg-container {
  width: 100%;
  background-color: #0c141f;
  background-size: cover;
}

.inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.bg-container .hero .inner-container {
  text-align: center;
}
.bg-container .inner-container .main-heading {
  padding: 1em;
}
.bg-container .inner-container .cta-container {
  margin: auto;
}
.bg-container .inner-container .cta-container button {
  background: none;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 0.9rem;

  font-size: 1.2rem;
}
.bg-container .inner-container .main-heading {
  color: #5500c0;
}
.sub-heading {
  color: white;
}
.inner-content {
  color: #5500c0;
  margin: auto;
}
.inner-content-text {
  color: #fff;
  padding-top: 2rem;
}

.bg-container .inner-container .cta-container {
  margin: auto;
}

.bg-container .inner-container .cta-container button {
  margin: 1rem 0.7rem;
}
.bg-container .inner-container .cta-container button:hover {
  cursor: pointer;
}
.bg-container .inner-container .cta-container .btn-cta-primary {
  background-color: #5500c0;
  transition: 250ms ease-in-out;
}
.bg-container .inner-container .cta-container .btn-cta-primary:hover {
  color: white;
  background-color: #3e018a;
}
.bg-container .inner-container .cta-container .btn-cta-secondary:hover {
  color: white;
}
.bg-container .inner-container .cta-container .btn-cta-secondary {
  border: #5500c0 1px solid;
  padding: 0.7rem 1rem;
}
.bg-container .inner-container .socials-container {
  text-align: center;
  margin: 1rem auto;
}
.bg-container .inner-container .socials-container a {
  color: #fff;
}
.bg-container .inner-container .socials-container a i {
  font-size: 2rem;
  color: #5500c0;
  border-radius: 100px;
}
.bg-container .inner-container .socials-container a i:hover {
  color: #044242;
}
.bg-container .inner-container .socials-container .socials {
  padding: 1rem;
}
.bg-container .inner-container .socials-container .socials li {
  display: inline;
  list-style: none;
  margin: 2rem 1rem;
}

.main-footer {
  background-color: orange;
  text-align: center;
  padding: 20px;
  color: black;
  margin-top: 5em;
}
